<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self'; font-src 'self' data:;">
    <meta name="X-Content-Type-Options" content="nosniff">
    <title>YouTube Sentiment Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">YouTube Sentiment Analysis</h1>
        <form method="post" class="mt-4">
            <div class="form-group">
                <label for="video_url">YouTube Video URL:</label>
                <input type="url" id="video_url" name="video_url" class="form-control" required placeholder="Enter YouTube Video URL" pattern="https?://(?:www\.)?youtube\.com/watch\?v=[\w-]{11}">
            </div>
            <button type="submit" class="btn btn-primary">Analyze</button>
        </form>
        
        {% if video_details %}
            <div class="mt-5">
                <h2>{{ video_details.title }}</h2>
                <img src="{{ video_details.thumbnail }}" alt="Video Thumbnail" style="max-width: 100%; height: auto;">
                <p>{{ video_details.description }}</p>
            </div>
        {% endif %}
        
        {% if error %}
            <p class="text-danger mt-3">{{ error }}</p>
        {% endif %}
        
        {% if img_base64 %}
            <div class="mt-5">
                <h2>Sentiment Analysis Results</h2>
                <img src="data:image/png;base64,{{ img_base64 }}" alt="Sentiment Analysis Plot" style="max-width: 100%; height: auto;">
                <ul class="list-group mt-3">
                    {% for sentiment, count in sentiments.items() %}
                        <li class="list-group-item">{{ sentiment }}: {{ count }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <!-- Include JS libraries at the end for better performance -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
